:root {
    --back_col: rgb(245, 245, 245);
    --gray_blue: rgb(45, 45, 90);
}

.side_panel {
    width: 100%;
    height: 95vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.top_container, .bottom_container {
    box-sizing: border-box;
    overflow-y: auto;
}

.top_container {
    background: #ffffff;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.bottom_container {
    background: #ffffff;
    height: 30%;
}

.bot_icon {
    width: 20%;
}

.bot_icon img{
    position: absolute;
    top: 45%;
    right: 5%;
    height: 20%;
}

.speech_container {
    width: 80%;
}

.speech_bubble {
	position: relative;
    width: 90%;
    top: 5%;
    left: 5%;
    background: var(--gray_blue);
	border-radius: .4em;
    height: 45%;
    font-family: Arial;
    text-align: center;
    padding: 20px;
    margin-bottom: 25%;
    font-size: 2vh;
    color: #ffffff;
}

.speech_bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 90%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-top-color: var(--gray_blue);
	border-bottom: 0;
	border-right: 0;
	margin-left: -4px;
	margin-bottom: -8px;
}

.button_panel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.button_panel button {
    background-color: #ffffff;
    font-family: Arial;
    font-size: 30px;
    color: grey;
    text-align: left;
    height: 33%;
    border-color: transparent;
}

.button_panel button img {
    height: 5vh;
}

.hover_img {
    display: none;
}

.button_panel button:hover {
    color: var(--gray_blue); //black;
    font-weight: 700;
}

.button_panel button:hover .default_img {
    display: none;
}

.button_panel button:hover .hover_img {
    display: inline;
}

.button_panel button.update {
    color: black;
    font-weight: 700;
}

.button_panel button.update .default_img {
    display: none;
}

.button_panel button.update .hover_img {
    display: inline;
}