.error_class {
  min-height: 100vh;
  items: center;
  justify: center;
  background-color: red-100;
  font-family: inter;
}

.error_message {
  font-size: 50px;
  text-color: red-700;
}
 

.dashboard_title {
  min-height: 100vh;
  background-color: gray-100;
  padding: 4;
  font-family: inter;
}

.dashboard_title h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: gray-800;
  text-align: center;
}