:root {
  --back_col: rgb(245, 245, 245);
  --gray_blue: rgb(45, 45, 90);
  --back-z: 1000;
}

.dashboard_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--back_col);
}

.title_banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background: var(--back_col);
  display: flex;
  flex-direction: row;
  color: var(--gray_blue);
}

.header_left {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.header_middle {
  box-sizing: border-box;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: sans-serif;
  padding-top: 1.5vh;
  font-size: 4vh;
  font-weight: 600;
  text-align: center;
  margin-top: 1vh;
}

.header_right {
  box-sizing: border-box;
  width: 5%;
  height: 100%;
  display: flex;
  padding-top: 1.5vh;
  margin-top: 1vh;
  margin-right: 3%;
  justify-content: flex-end;
}

.header_icon {
  box-sizing: border-box;
  min-width: 10%;
  display: flex;
  justify-content: flex-start;
  margin-top: 1vh;
  margin-left: 6%;
}

.header_title {
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: sans-serif;
  font-size: 4vh;
  font-weight: 600;
  text-align: center;
  padding-left: 4%;
  margin-top: 1.5vh;
}

.subtitle {
  font-size: 3vh;
  font-weight: 600;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  margin-top: 0vh;
  margin-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
  color: var(--gray_blue);
}

.general_container {
  position: relative;
  width: 96%;
  left: 2%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

.top_scrollbar {
  display: block;
  overflow: auto;
  width: 96%;
  height: 90%;
  padding: 0%;
  margin: 2% 2% auto;
}

.top_scrollbar::-webkit-scrollbar {
  width: 15px;
  background-color: tranparent;
}

.top_scrollbar::-webkit-scrollbar-button {
  background-color:rgb(196, 192, 192);
  height: 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.top_scrollbar::-webkit-scrollbar-button:hover {
  background-color:rgb(131, 129, 129);
}

.top_scrollbar::-webkit-scrollbar-button:vertical:start {
  background-image: url('./icons/scrollbar_up.png');
}

.top_scrollbar::-webkit-scrollbar-button:vertical:end {
  background-image: url('./icons/scrollbar_down.png');
}

.top_scrollbar::-webkit-scrollbar-thumb {
  background-color:rgb(196, 192, 192);
}

.help_button {
  background-color: var(--gray_blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 3vh;
  margin-top: 2%;
  margin-right: 10%;
  padding: 0% 15%;
  height: 80%;
}

.help_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: var(--back-z);
}

.help_popup {
    font-family: Arial, sans-serif;
    position: absolute;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    font-size: 2vh;
}

.help_content {
    text-align: center;
    overflow: auto;
    margin-right: 5%;
}

.help_header_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 2px solid var(--gray_blue);
}

.okay_help_top {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  margin-left: 25%;
}

.welcome_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: var(--back-z);
}

.welcome_popup {
    font-family: Arial, sans-serif;
    position: absolute;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    font-size: 2vh;
}

.welcome_content {
  height: 95%;
  text-align: center;
  overflow: auto;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.welcome_header_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 2px solid var(--gray_blue);
}

.welcome_instruction_container {
  height: 10%;
  display: flex;
  box-sizing: border-box;
  border-bottom: 2px solid var(--gray_blue);
}

.popup_instruction {
  box-sizing: border-box;
  font-size: 3vh;
}

.options_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 3%;
  height: 6.5vh;
  cursor: pointer;
  font-size: 2vh;
  overflow: hidden;
  text-align: left;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  user-select: none;
}

.options_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 10%;
  left: 0%;
  height: 2vh;
  width: 2vh;
  background-color: #eeeeee;
  border: 1px solid #333333;
  border-radius: 50%;
}

.options_container:hover input ~ .checkmark {
  background-color: #cccccc;
}

.options_container input:checked ~ .checkmark {
  background-color: var(--gray_blue);
  background: solid;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.options_container input:checked ~ .checkmark:after {
  display: block;
}

.options_container .checkmark:after {
  height: 2vh;
  width: 2vh;
  background-color: var(--gray_blue);
  border: 1px solid #333333;
  border-radius: 50%;
}

.settings_options_container {
  height: 80%;
}

.settings_save_container {
  height: 10%;
}

.update_settings {
  background-color: var(--gray_blue);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 3vh;
  height: 80%;
  padding-bottom: 6%;
}

.top_panel {
  position: relative;
  top: 0;
  width: 100%;
  height: 50%;
  background-color: var(--back_col);
  display: flex;
  flex-direction: row;
  font-size: 2vh;
}

.top_left_container {
  box-sizing: border-box;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.top_right_container {
  box-sizing: border-box;
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.top_container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  border: 1px solid #e5e7eb;
  width: 98%;
  height: 90%;
  position: relative;
  top: 5%;
  text-align: left;
}

.request_content_container {
  position: relative;
  box-sizing: border-box;
  width: 95%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-right: 5%;
}

.request_icon_container {
  box-sizing: border-box;
  width: 60%;
}

.request_image {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.request_data_container {
  box-sizing: border-box;
  width: 140%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.request_info_container {
  box-sizing: border-box;
  width: 150%;
  height: 100%;
  font-size: 2vh;
  padding-right: 5%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.request_resolve_container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.request_resolve_subcontainer {
  box-sizing: border-box;
  height: 100%;
  margin-bottom: 1vh;
}

.request_resolve_subcontainer button {
  height: 90%;
  top: 5%;
  width: 100%;
  position: relative;
  background: var(--gray_blue);
  text-align: center;
  box-sizing: border-box;
  font-size: 2vh;
  color: #ffffff;
}

.together_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: var(--back-z);
}

.together_popup {
    font-family: Arial, sans-serif;
    position: absolute;
    width: 30%;
    height: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    font-size: 2vh;
}

.together_content {
  height: 95%;
  text-align: center;
  overflow: auto;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.together_header_container {
  height: 30%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: center;
}

.together_subtitle {
  font-size: 4vh;
  font-weight: 600;
  box-sizing: border-box;
  margin-bottom: 2%;
  padding-top: 2%;
  color: var(--gray_blue);
}

.together_message_container {
  height: 50%;
}
                           
.together_save_container {
  display: flex;
  height: 20%;
  flex-direction: row;
  box-sizing: border-box;
}

.together_button_container {
  box-sizing: border-box;
  width: 50%;
  justify-content: center;
}

.together_button_container button {
  background-color: var(--gray_blue);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2vh;
  padding: 5% 10%;
  width: 80%;
  height: 90%;
}

.status_content_container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.status_icon_container {
  box-sizing: border-box;
  width: 60%;
}

.status_image {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.status_data_container {
  box-sizing: border-box;
  width: 140%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.status_meta_container {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: bold;
}

.status_context_container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.status_time_container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: end;
  padding-right: 5%;
}

.status_text_container {
  box-sizing: border-box;
  width: 100%;
  height: 150%;
  padding-right: 5%;
}

.msg_panel {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.input_container {
  width: 150%;
  box-sizing: border-box;
}

.send_container {
  width: 80%;
  box-sizing: border-box;
  padding-right: 1%;
}

.msg_subtitle {
  font-size: 3vh;
  font-weight: 600;
  color: gray-800;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 5%;
}

.msg_input {
  position: relative;
  top: 1vh;
  background-color: #eeeeee;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  width: 95%;
  line-height: 3vh;
  box-sizing: border-box;
  border: 1px solid #333333;
  padding-top: 0.5vh;
}

.msg_input::placeholder {
  color: gray-800;
  opacity: 1;
  padding-left: 2%;
  font-size: 2vh;
}

.msg_send {
  position: relative;
  left: 0;
  top: 1vh;
  background: var(--gray_blue);
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 2vh;
  color: #ffffff;
}

.msg_send:hover{
  background: #111111;
}

.msg_content_container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.msg_icon_container {
  box-sizing: border-box;
  width: 15%;
  height: 100%;
}

.icon_image {
  position: relative;
  left: 50%;
  top: 1vh;
  transform: translateX(-50%);
  height: 6vh;
}

.msg_data_container {
  box-sizing: border-box;
  width: 185%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.msg_meta_container {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
}

.msg_text_container {
  box-sizing: border-box;
  width: 100%;
  height: 150%;
}

.bottom_scrollbar {
  display: block;
  overflow: auto;
  width: 96%;
  height: 90%;
  padding: 0px;
  margin: 2% 2% auto;
}

.bottom_scrollbar::-webkit-scrollbar {
  width: 15px;
  background-color: #eeeeee;
}

.bottom_scrollbar::-webkit-scrollbar-button {
  background-color:rgb(196, 192, 192);
  height: 10%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.bottom_scrollbar::-webkit-scrollbar-button:hover {
  background-color:rgb(131, 129, 129);
}

.bottom_scrollbar::-webkit-scrollbar-button:vertical:start {
  background-image: url('./icons/scrollbar_up.png');
}

.bottom_scrollbar::-webkit-scrollbar-button:vertical:end {
  background-image: url('./icons/scrollbar_down.png');
}

.bottom_scrollbar::-webkit-scrollbar-thumb {
  background-color:rgb(196, 192, 192);
}

.bottom_panel {
  width: 100%;
  height: 60%;
  background-color: var(--back_col);
  display: flex;
  flex-direction: row;
}

.bottom_left_container, .bottom_right_container {
  box-sizing: border-box;
  overflow-y: auto;
  width: 50%;
  position: relative;
  text-align: left;
}

.bottom_left_container {
  display: flex;
  justify-content: flex-start;
}

.bottom_right_container {
  display: flex;
  justify-content: flex-end;
}

.bottom_container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  border: 1px solid #e5e7eb;
  width: 98%;
  height: 80%;
  top: 5%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  font-size: 2vh;
}

.history_content_container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.history_icon_container {
  box-sizing: border-box;
  width: 40%;
}

.history_image {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.history_data_container {
  box-sizing: border-box;
  width: 160%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.history_meta_container {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: bold;
}

.history_context_container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}

.history_time_container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: end;
  padding-right: 5%;
}

.history_response_container {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  text-align: end;
  padding-right: 5%;
  font-weight: bold;
}

.history_bulk_container {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.history_text_container {
  box-sizing: border-box;
  width: 100%;
  height: 150%;
}

.account_panel {
  height: 80%;
  width: 94%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 4%;
  margin-left: 3%;
}

.account_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.account_left {
  width: 70%;
  font-size: 2vh;
  padding-right: 5%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.account_right {
  width: 30%;
  top: 10%;
  display: flex;
  justify-content: flex-end;
}

.account_right button {
  height: 90%;
  top: 5%;
  max-width: 100%;
  position: relative;
  background: var(--gray_blue);
  text-align: center;
  box-sizing: border-box;
  font-size: 2vh;
  color: #ffffff;
  overflow: hide;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.education_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: var(--back-z);
}

.education_popup {
    font-family: Arial, sans-serif;
    position: absolute;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto;
    font-size: 2vh;
}

.education_content {
    text-align: left;
    font-size: 2.5vh;
    overflow: auto;
    margin-right: 5%;
}

.education_content h2 {
  font-size: 2.5vh;
  font-weight: bold;
}

.education_content hyper {
  text-align: right;
}

.education_header_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 2px solid var(--gray_blue);
}

.popup_subtitle {
  font-size: 4vh;
  font-weight: 600;
  text-align: left;
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 2%;
  margin-right: 0%;
  padding-top: 2%;
  padding-left: 2%;
  color: var(--gray_blue);
}

.okay_welcome_top {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  margin-left: 25%;
}

.okay_education_top {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  margin-left: 25%;
}

.popup_button {
  background-color: var(--gray_blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 3vh;
  padding: 5% 10%;
  height: 75%;
}

.browsing_history_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: var(--back-z);
}

.browsing_popup {
  font-family: Arial, sans-serif;
  position: absolute;
  width: 60%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  font-size: 2vh;
}

.browsing_history_content {
  text-align: center;
  overflow: auto;
  margin-right: 5%;
}

.browsing_header_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 2px solid var(--gray_blue);
}

.okay_browsing_top {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  margin-left: 25%;
}

.browsing_entry_container {
  position: relative;
  box-sizing: border-box;
  border: 2px solid var(--gray_blue);
  border-top: none;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  color: var(--gray_blue);
}

.url_container {
  box-sizing: border-box;
  border-right: 2px solid var(--gray_blue);
  width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.url_time_container {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 30%;
  height: 100%;
}

.settings_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: var(--back-z);
}

.settings_popup {
  font-family: Arial, sans-serif;
  position: absolute;
  width: 60%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  font-size: 2vh;
}

.settings_content {
  text-align: center;
  overflow: auto;
  margin-right: 5%;
}

.settings_header_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 2px solid var(--gray_blue);
}

.okay_settings_top {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  margin-left: 25%;
}

.settings_entry_container {
  position: relative;
  box-sizing: border-box;
  border: 2px solid var(--gray_blue);
  border-top: none;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  color: var(--gray_blue);
}

.context_container {
  box-sizing: border-box;
  border-right: 2px solid var(--gray_blue);
  width: 10%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chosen_options_container {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.chosen_options_subcontainer {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
}

.chosen_options_left {
  width: 10%;
  margin-left: 5%;
  text-align: left;
}

.chosen_options_right {
  width: 90%;
  margin-right: 5%;
  text-align: left;
}

.request_update_container {
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 20%;
  height: 100%;
}

.update_settings_button {
  background-color: var(--gray_blue);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2vh;
  padding: 4px 12px;
  height: 80%;
  margin-top: 1%;
}

.footer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #4b5563;
  font-size: 14px;
  font-family: sans-serif;
}

.error_class {
  min-height: 100vh;
  items: center;
  justify: center;
  background-color: red-100;
  font-family: sans-serif;
}

.error_message {
  font-size: 50px;
  text-color: red-700;
}

.loading_class {
  min-height: 100vh;
  items: center;
  justify: center;
  background-color: red-100;
  font-family: sans-serif;
}

.loading_message {
  font-size: 50px;
  text-color: red-700;
}