.dashboard_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background:rgb(235, 235, 235);
}

.title_banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(235, 235, 235);
}

.dashboard_title {
  min-height: 100vh;
  background-color: gray-100;
  padding: 4;
  font-family: sans-serif;
}

.dashboard_title h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: gray-800;
  text-align: center;
}

.subtitle {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: gray-800;
  text-align: left;
  outline: 2px solid black;
  box-sizing: border-box;
}

.table_format {
  min-width: 100%;
}

.column_title {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  color: #6b7280;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid black;
}

.entry_format {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 1rem;
  white-space: nowrap;
  font-size: 14px;
  color: #2D3748;
  border: 1px solid black;
}

.top_scrollbar {
  display: block;
  overflow: auto;
  width: 96%;
  height: 80%;
  padding: 0px;
  margin: 8px auto;
  outline: 2px dashed cornflowerblue;
}

.top_scrollbar::-webkit-scrollbar {
  width: 30px;
  background-color: tranparent;
}

.top_scrollbar::-webkit-scrollbar-button {
  background-color:rgb(196, 192, 192);
  height: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.top_scrollbar::-webkit-scrollbar-button:hover {
  background-color:rgb(131, 129, 129);
}

.top_scrollbar::-webkit-scrollbar-button:vertical:start {
  background-image: url('./scrollbar_up.png');
}

.top_scrollbar::-webkit-scrollbar-button:vertical:end {
  background-image: url('./scrollbar_down.png');
}

.top_panel {
  width: 100%;
  height: 20vh;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  outline: 2px dashed #000000;
}

.top_top_container, .top_bottom_container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  outline: 2px solid rgb(228, 23, 174);
}

.top_container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  border: 1px solid #e5e7eb;
  width: 92%;
  height: 90%;
  position: relative;
  left: 3%;
  top: 5%;
  text-align: left;
}

.bottom_panel {
  width: 100%;
  height: 40vh;
  background-color:rgb(235, 235, 235);
  display: flex;
  flex-direction: row;
  outline: 2px dashed rgb(111, 16, 16);
}

.bottom_left_container, .bottom_middle_container, .bottom_right_container {
  box-sizing: border-box;
  overflow-y: auto;
  width: 100%;
  position: relative;
  top: 70%;
  text-align: left;
  padding-left: 20px;
  outline: 2px dashed rgb(32, 170, 224);
}

.bottom_container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  border: 1px solid #e5e7eb;
  width: 86%;
  height: 85%;
  position: relative;
  left: 3%;
  top: 0%;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  outline: 2px dashed rgb(209, 224, 37);
}

.footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  margin-top: 30px;
  text-align: center;
  color: #4b5563;
  font-size: 14px;
  font-family: sans-serif;
}

.error_class {
  min-height: 100vh;
  items: center;
  justify: center;
  background-color: red-100;
  font-family: sans-serif;
}

.error_message {
  font-size: 50px;
  text-color: red-700;
}

.loading_class {
  min-height: 100vh;
  items: center;
  justify: center;
  background-color: red-100;
  font-family: sans-serif;
}

.loading_message {
  font-size: 50px;
  text-color: red-700;
}